<div class="p-3 bg-white rounded shadow-sm animate__animated animate__fadeInRight">
  <table mat-table *ngIf="students$ | async as students" [dataSource]="students" class="mat-elevation-z1 w-100">

    <ng-container matColumnDef="id_estudiante">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let student">{{ student.id_estudiante }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let student">{{ student.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef>Edad</th>
      <td mat-cell *matCellDef="let student">{{ student.edad }}</td>
    </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef>Género</th>
      <td mat-cell *matCellDef="let student">{{ student.genero }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let student">{{ student.status }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let student">
        <button mat-button color="warn" (click)="deleteStudent(student.id_estudiante)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>