<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3 bg-white rounded shadow-sm animate__animated animate__fadeInLeft">
  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Edad</mat-label>
    <input type="number" matInput formControlName="age">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    {{ form.value.id ? 'Actualizar' : 'Agregar' }} Estudiante
  </button>
</form>